footer {
    background: #FFFFFF;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    margin-top: 1.25em;
}