html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
center,
ul,
li,
table,
caption,
article,
footer,
header,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: none;
    float: right;
    margin-top: 8px;
    /* depends on height of .filters */
    margin-right: 30px;
}

button:hover {
    opacity: 0.9;
}

.container {
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

html {
    position: relative;
    min-height: 100%;
}