.filters {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations,
.amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: 50px;
}

.amenities {
    border-right: none;
    margin-left: 46px;
}

.amenities h3,
.locations h3 {
    font-weight: 600;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
}