.filters {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations,
.amenities {
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding-left: 50px;
}

.amenities {
    border-right: none;
}

.amenities h3,
.locations h3 {
    font-weight: 600;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    display: none;
    position: absolute;
    top: 70px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: -50px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover ul {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.popover li {
    padding: 3px;
    margin-left: 45px;
}

.popover h2 {
    font-size: 16px;
}

.popover .state_name {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.popover .init {
    margin-top: 0px;
}