.places {
    padding: 20px;
    display: inline-block;
}

.places h1 {
    font-size: 25px;
}

.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.places_wrapper {
    width: 100%;
    text-align: center;
}