.places {
    padding: 20px;
    display: inline-block;
    max-width: 1000px;
}

.places h1 {
    font-size: 30px;
}

.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places h2 {
    display: inline;
    font-size: 30px;
}

.places_wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price_by_night {
    display: inline-block;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    text-align: center;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 2px;
}

.price_by_night {
    float: right;
}

.price_by_night p {
    margin-top: 15px;
}

.information {
    display: block;
    margin-top: 50px;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.information .max_guest {
    display: inline-block;
    background: #FFFFFF url("../images/icon_group.png") no-repeat;
    background-position: top;
    width: 100px;
    min-height: 75px;
    max-height: 100px;
}

.information .max_guest p {
    display: block;
    float: bottom;
    position: relative;
    top: 55px;
}

.information .number_rooms {
    display: inline-block;
    background: #FFFFFF url("../images/icon_bed.png") no-repeat;
    background-position: top;
    width: 100px;
    min-height: 75px;
    max-height: 100px;
}

.information .number_rooms p {
    display: block;
    float: bottom;
    position: relative;
    top: 55px;
}

.information .number_bathrooms {
    display: inline-block;
    background: #FFFFFF url("../images/icon_bath.png") no-repeat;
    background-position: top;
    width: 100px;
    min-height: 75px;
    max-height: 100px;
}

.information .number_bathrooms p {
    display: block;
    float: bottom;
    position: relative;
    top: 55px;
}

.user {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.description {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
}